@import url('reset.css');

@import url('font.css');

@import url('common.css');

@import url('layout.css');


nav ul li a:hover {
    text-decoration: underline;
}

/* Header styling */
.inner {
    /* width: 1180px; */
    /* max-width: 1470px; */
    /* margin: 0 auto; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 4rem 0rem 4rem;
}

.left-side {
    display: flex;
    align-items: center;
}

.logo-text {
    font-size: 1.5rem;
    font-weight: bold;
    margin-right: 1rem;
}


.right-side {
    display: flex;
    /* align-items: center; */
}

.user-actions {
    display: flex;
    align-items: center;
}

.user-actions a {
    margin-right: 1rem;
    color: #fff;
    text-decoration: none;
}

.icons {
    display: flex;
    align-items: center;
}

.toggle-button {
    margin-left: 1rem;
    color: #fff;
    cursor: pointer;
    font-size: 1.5rem;
}

/* Language dropdown styling */
.language-dropdown {
    position: relative;
    display: inline-block;

}

.dropdown-btn {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    /* font-size: 1rem; */
    border-radius: 5px;
    outline: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 0.5rem 1rem;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.language-dropdown:hover .dropdown-content {
    display: block;
}



.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
}

.brand-title {
    font-size: 2rem;
    margin: .5rem;
}

.brand-title a{
    text-decoration: none;
    display: block;
    color: white;
}

/* .toggle-button {
    position: absolute;
    top: 1.20rem;
    right: 1rem;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    color: #fff;
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
} */

/* .toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
} */

/* The role of media query is that, it says if certain condition meet run the code of inside it, and if not then don't */
@media (max-width: 600px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    .user-actions {
        flex-direction: column;
        align-items: flex-start;
        font-size: 14px;
        /* padding-top: 35px; */
    }
    /* Now the hamburgur menu will be visible */
    .toggle-button {
        display: flex;
    }

    /* Now the links will disapper and */
    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
        font-size: 14px;
    }

    .navbar-links.active {
        display: flex;
    }
}

